
/*
@version 1.0
@author Anthony Mochel
@updated by Anthony Mochel, ...
@date 08/12/2017
@Title : Header style
*/

.header_content {
  	width: 100%;
}

.header_brand {
	padding:20px;
  	background-color: #62AC5B;
}

.header_title {
	text-align: left;
  	width: 100%;
	
}
.header_title > h1 {
  	font-weight: bolder;
  	text-transform: uppercase;
  	margin: 0px;
  	
  	text-decoration:none;
}
.header_title > h1 > a{
	text-decoration:none;
	color:black;
}
.header_title > p {
	margin:0px;
}